<!DOCTYPE html>
<html lang = "en">

<br /><br /><br /><br />

    
<div class = "container">
    
    <h1 style = "color:#8d3442">
        Control the <span style = "color:#000"> Raven! </span>
    </h1> 
    
    <h2>Diagnostics </h2>
    
    <div id = "Diagnostics">
    
        <div class = "row bg-info img-rounded">

            <div class = "col-md-12">
                <h3>Offboard control is    

                <button type = "button" class = "btn btn-danger btn-lg">
                <b style= "color: #581d1d">{{offboardControl}}</b>
                </button>

                </h3>
            </div>

        </div>
        
    </div>    

    <h2>Raw Data</h2>
    
    <div id = "rawData">
    
    <div class = "">    
        <div class = "row bg-info img-rounded">

            <div class = "col-md-4">
                <h3>Aux1: <span id = "aux1Value">{{aux1Value}}</span></h3>
            </div>

            <div class = "col-md-4">
                <h3>Aux2: <span id = "aux2Value">{{aux2Value}}</span></h3>
            </div>
            
            <div class = "col-md-4">
                <h3>Aux3: <span id = "aux3Value">{{aux3Value}}</span></h3>
            </div>
            

        </div>
        
        <div class = "row">
            
            <div class = "col-md-12">
                <h3>Current GPS heading: <span id = "gpsHeading">{{gpsHeading}}</span></h3>
            </div>
            
        </div>

    </div>
    
    </div>    
    

</div>

    
    
    
</html>
    
